<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Warband___Translator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
    <userSettings>
        <Warband___Translator.Properties.Settings>
            <setting name="module_path" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="language" serializeAs="String">
                <value>de</value>
            </setting>
            <setting name="file" serializeAs="String">
                <value>menus</value>
            </setting>
            <setting name="filterAUSRUF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filterOHNEAUSRUF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="filterNotTranslateable" serializeAs="String">
                <value>False</value>
            </setting>
        </Warband___Translator.Properties.Settings>
    </userSettings>
</configuration>
